<!-- File: src/main/resources/templates/pages/profile.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/base :: base_head"></head>
<body>


<div class="container py-5">
    <h2 class="mb-4">My Profile</h2>
    <div class="card shadow-sm">
        <div class="card-body">
            <p><strong>Full Name:</strong> <span th:text="${user.fullName}">DEFAULT</span></p>
            <p><strong>Username:</strong> <span th:text="${user.userName}">DEFAULT</span></p>
            <p><strong>Email:</strong> <span th:text="${user.email}">DEFAULT</span></p>
            <p><strong>Role:</strong> <span th:text="${user.role}">DEFAULT</span></p>
        </div>
    </div>
</div>

<div th:replace="fragments/base :: base_footer"></div>
</body>
</html>
