<!-- src/main/resources/templates/fragments/dashboard/vehicles.html -->
<div th:fragment="content" xmlns:sec="http://www.w3.org/1999/xhtml">
    <div class="container py-5">
        <h2 class="mb-4">All Vehicles</h2>

        <div class="row g-4" th:if="${vehicles != null and vehicles.size() > 0}">
            <!-- Create column div for each vehicle in a single row -->
            <div th:each="veh : ${vehicles}" class="col-md-4 col-sm-6 col-12">
                <div class="p-3 border rounded bg-white shadow-sm">
                    <a th:href="@{/dashboard/employee/vehicles/{id}(id=${veh.vehicleId})}">
                        <img th:src="${veh.imageUrl}"
                             class="img-fluid mb-3"
                             th:alt="${veh.make + ' ' + veh.model}"/>
                    </a>

                    <h5 th:text="${veh.make}">Make</h5>
                    <p class="text-muted" th:text="${veh.model}">Model</p>
                    <p class="text-muted" th:text="${veh.year}">Year</p>
                    <p class="text-muted" th:text="${veh.licensePlate}">License Plate</p>
                    <span class="fw-bold"
                          th:text="${'$' + veh.pricePerDay + '/day'}">
                        $0.00/day
                    </span>
                    <p class = "mt-2" th:text="${veh.availability} ? '✅ Available' : '❌ Unavailable'"></p>
                </div>
            </div>

        </div>

        <li class="nav-item"
            sec:authorize="hasRole('EMPLOYEE')">
            <a th:class="${page == 'accounts'} ? 'nav-link active' : 'nav-link'"
               th:href="@{/api/dashboard/accounts}">
                <i class="bi bi-person-gear me-2"></i>Accounts
            </a>
        </li>

    </div>
</div>