<!-- src/main/resources/templates/fragments/dashboard/vehicles.html -->
<div th:fragment="content">
    <div class="container py-5">
        <h2 class="mb-4">All Vehicles</h2>

        <div class="row g-4" th:if="${vehicles != null and vehicles.size() > 0}">
            <!-- Create column div for each vehicle in a single row -->
            <div th:each="veh : ${vehicles}" class="col-md-4 col-sm-6 col-12">
                <div class="p-3 border rounded bg-white shadow-sm">
                    <a th:href="@{/dashboard/employee/vehicles/{id}(id=${veh.vehicleId})}">
                        <img th:src="${veh.imageUrl}"
                             class="img-fluid mb-3"
                             th:alt="${veh.make + ' ' + veh.model}"/>
                    </a>

                    <h5 th:text="${veh.make}">Make</h5>
                    <p class="text-muted" th:text="${veh.model}">Model</p>
                    <p class="text-muted" th:text="${veh.year}">Year</p>
                    <p class="text-muted" th:text="${veh.licensePlate}">License Plate</p>
                    <span class="fw-bold"
                          th:text="${'$' + veh.pricePerDay + '/day'}">
                        $0.00/day
                    </span>
                    <p class = "mt-2" th:text="${veh.availability} ? '✅ Available' : '❌ Unavailable'"></p>
                </div>
            </div>

        </div>

        <div th:if="${vehicles == null or vehicles.size() == 0}">
            <p class="text-muted">No vehicles found.</p>
        </div>
    </div>
</div>