<nav th:fragment="sidebar" class="sidebar d-flex flex-column justify-content-between p-3"
     xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <ul class="nav nav-pills flex-column">

        <!-- 1) Dashboard -->
        <li class="nav-item">
            <a th:class="${page == 'dashboard'} ? 'nav-link active' : 'nav-link'" th:href="@{/api/dashboard}"><i class="bi bi-speedometer2 me-2"></i>Dashboard</a>
        </li>

        <!-- 2) Reservation Management -->
        <li class="nav-item">
            <a th:class="${page=='reservations'}
                 ? 'nav-link active' : 'nav-link'"
               th:href="${#authorization.expression(
                'hasAnyRole(''ADMIN'',''EMPLOYEE'')')}
               ? @{/dashboard/employee/reservations}
               : @{/dashboard/customer/reservations}">
                <i class="bi bi-clipboard2-check me-2"></i>Reservations
            </a>
        </li>


        <!-- 3) Vehicle Management -->
        <li class="nav-item">
            <a th:class="${page=='vehicles' or page=='vehicleDetails' or page=='vehicleCheckout'}
                 ? 'nav-link active' : 'nav-link'"
               th:href="${#authorization.expression(
                'hasAnyRole(''ADMIN'',''EMPLOYEE'')')}
               ? @{/dashboard/employee/vehicles}
               : @{/dashboard/customer/vehicles}">
                <i class="bi bi-car-front-fill me-2"></i>Vehicles
            </a>
        </li>

        <!-- 4) Maintenance Management -->
        <li class="nav-item"
            sec:authorize="hasAnyRole('ADMIN','EMPLOYEE')">
            <a th:class="${page=='accounts'} ? 'nav-link active' : 'nav-link'"
               th:href="@{/api/dashboard/accounts}">
                <i class="bi bi-tools me-2"></i>Maintenance
            </a>
        </li>
        <!-- 5) Coupons -->
        <li class="nav-item"
            sec:authorize="hasAnyRole('ADMIN','EMPLOYEE')">
            <a th:class="${page=='accounts'} ? 'nav-link active' : 'nav-link'"
               th:href="@{/api/dashboard/accounts}">
                <i class="bi bi-tag me-2"></i>Coupons
            </a>
        </li>
        <!-- 6) Accounts -->
        <li class="nav-item"
            sec:authorize="hasAnyRole('ADMIN')">
            <a th:class="${page=='accounts'} ? 'nav-link active' : 'nav-link'"
               th:href="@{/api/dashboard/accounts}">
                <i class="bi bi-person-gear me-2"></i>Accounts
            </a>
        </li>
    </ul>

    <!-- Log Out Button -->
    <div class="mt-auto">
        <a th:href="@{/perform_logout}" class="nav-link">Logout</a>
    </div>

</nav>