<!--&lt;!&ndash; src/main/resources/templates/fragments/vehicleSmallCard.html &ndash;&gt;-->
<!--<div xmlns:th="http://www.thymeleaf.org"-->
<!--     th:fragment="vehicleSmallCard (veh)"-->
<!--     class="col-md-4 col-sm-6 col-12">-->
<!--  <div class="p-3 border rounded bg-white shadow-sm">-->
<!--    <a th:href="@{/dashboard/vehicle/{id}(id=${veh.vehicleId})}">-->
<!--      <img th:src="${veh.imageUrl}"-->
<!--           class="img-fluid mb-3"-->
<!--           th:alt="${veh.make + ' ' + veh.model}"/>-->
<!--    </a>-->
<!--    <h5 th:text="${veh.make}">Make</h5>-->
<!--    <p class="text-muted" th:text="${veh.model}">Model</p>-->
<!--    <p class="text-muted" th:text="${veh.year}">Year</p>-->
<!--    <p class="text-muted" th:text="${veh.licensePlate}">License Plate</p>-->
<!--    <span class="fw-bold"-->
<!--          th:text="${'$' + veh.pricePerDay + '/day'}">-->
<!--      $0.00/day-->
<!--    </span>-->
<!--  </div>-->
<!--</div>-->